<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.rico.sportsmodels.nba.threes_props</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/rico/sports-models/scheduler/scripts/run_model.sh</string>
      <string>/Users/rico/sports-models/nba</string>
      <string>nba_3pt_props_model.py</string>
      <string>/Users/rico/sports-models/nba/logs</string>
      <string>nba_3pt_props</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StartCalendarInterval</key>
    <array>
      <dict><key>Hour</key><integer>2</integer><key>Minute</key><integer>50</integer></dict>
      <dict><key>Hour</key><integer>10</integer><key>Minute</key><integer>0</integer></dict>
      <dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>0</integer></dict>
      <dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
    </array>

    <key>StandardOutPath</key>
    <string>/tmp/com.rico.sportsmodels.nba.threes_props.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.rico.sportsmodels.nba.threes_props.err.log</string>
  </dict>
</plist>

